body {
    margin: 0; /* Remove espaço padrão do body */
    height: 300vh; /* Faz o fundo ocupar 100% da tela */
    
    /* Define a imagem */
    background-image: url('Images/background.jpg'); /* Caminho para a imagem */
    background-size: cover; /* Faz a imagem cobrir toda a área */
    background-position: center; /* Centraliza a imagem */
    background-repeat: repeat; /* Evita repetição */
    justify-content: center;
    align-items: center;    
}
.linha{
    border:0;
    border-top: 4px solid rgb(141, 34, 34);
    background-color: rgb(112, 56, 56);
}
@media (min-width: 992px) {
  .container { flex-direction: row; }
  .sidebar { display: block; }
}
@media (min-width: 1200px) {
  .container { max-width: 1140px; margin: 0 auto; }
}
@media (min-width: 576px) {
    .container { flex-direction: row; }
  .sidebar { display: block; }

}
@media (min-width: 992px){
      .container { flex-direction: row; }
  .sidebar { display: block; }

}
@media (min-width: 768px){
        .container { flex-direction: row; }
  .sidebar { display: block; }

}
img {
  max-width: 100%;
  height: auto;
}
 .menu {
  position: absolute;
    top: 0;
    left: 0;
      width: 100%;             /* ocupa toda a largura */
      background-color: #000000;  /* cor de fundo (cinza escuro) */
      padding: -8px 0;         /* altura do retângulo */
      text-align: center;      /* centraliza os itens */
      z-index: 1;
    }

    /* Links do menu */
    .menu a {
      color: rgb(228, 223, 218);            /* cor do texto */
      text-decoration: none;   /* remove sublinhado */
      margin: 20px;          /* espaçamento entre links */
      font-size: 20px;
      font-family: Arial, sans-serif;
    }
 .menu a.disabled {
      background-color: #aaa;   /* cinza */
      cursor: not-allowed;      /* cursor de proibido */
      pointer-events: none;     /* desativa o clique */
      text-decoration: none;
      color: #eee;
    }
    /* Efeito ao passar o mouse */
    .menu a:hover {
      color: rgb(146, 86, 26);
      text-decoration: none;
      text-shadow:#33312e 2px 2px 4px;
      
    }
  h1
  {
    color: rgb(190, 146, 42);
    text-align: center;
    font-family: 'Creepster', cursive;
    font-size: 50px;
  }
  p{
    color: rgb(228, 137, 19);
    text-align: center;
    font-family: 'Creepster', cursive;
    font-size: 20px;
  }
  .text-border {
    box-shadow: #832aa7 0px 0px 16px;
    inset: #c739d4 0px 0px 10px;
  }
  .candy-button {
      position: absolute;
      top: 50%;
      left: 50%;
      background-color:#ff6600;
      padding: 15px 55px;
      font-size: 20px;
      font-weight: bold;
      font-family: 'Times New Roman', Times, serif;
      color: #e2dee4;
      border: none;
      cursor: pointer;


      /* Forma poligonal lembrando doce embalado */
    clip-path: polygon(14% 0, 85% 0, 100% 100%, 0 100%);

    }

    .candy-button:hover {
      background-color: #c06113;
    clip-path: polygon(0% 0, 100% 0, 100% 100%, 0 100%);
    transform: scale(1.05);
    transition: all 0.6s ease;


    }
  .button1{
    position: relative;
    background-color:#d86506;
    padding: 20px 40px;
    border:none;
    cursor: pointer;
    color: #832aa7;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    clip-path: polygon(14% 0, 85% 0, 100% 100%, 0 100%);
 
       background: repeating-linear-gradient(
        45deg,
        #ff6600 0px,
        #ff6600 20px,
        #bebebe 20px,
        #cacaca 35px
      );

  }

  .button1:hover{
    
    background-color: #773d1d;
    clip-path: polygon(0% 0, 100% 0, 100% 100%, 0 100%);
    transform: scale(1.05);
    transition: all 0.6s ease;

  }

    /* Lacres dos lados */
  
.candy-btn {
      position: relative;
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 15px 20px;
      font-size: 20px;
      font-weight: bold;
      color: #fff;
      background: linear-gradient(145deg, #ff6600, #cc00ff);
      border-radius: 50px;
      text-decoration: none;
      box-shadow: 
        inset -3px -3px 8px rgba(255,255,255,0.3),
        inset 3px 3px 6px rgba(0,0,0,0.2),
        0 8px 15px rgba(0,0,0,0.5);
      cursor: pointer;
      transition: all 0.3s ease;
      overflow: hidden;
    }

    /* reflexo */
    .candy-btn::before {
      content: "";
      position: absolute;
      top: 8px;
      left: 15px;
      right: 15px;
      height: 40%;
      border-radius: 50px;
      background: rgba(255, 255, 255, 0.3);
      pointer-events: none;
    }

    /* lados da embalagem */
    .candy-btn::after,
    .candy-btn span::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 22px;
      height: 45px;
      background: repeating-linear-gradient(
        45deg,
        #ff6600,
        #ff6600 6px,
        #cc00ff 6px,
        #cc00ff 12px
      );
      box-shadow: inset -2px -2px 4px rgba(255,255,255,0.3),
                  inset 2px 2px 4px rgba(0,0,0,0.3);
    }
    .candy-btn::after { left: -28px; border-radius: 12px 0 0 12px; }
    .candy-btn span::before { right: -28px; border-radius: 0 12px 12px 0; }

    .candy-btn:hover { transform: scale(1.05); }
    .candy-btn:active { transform: scale(0.95); }

    .TituloTexto{
    position: absolute;
    top: 130%;
    left:28%;
   -webkit-text-stroke: 4px rgba(247, 142, 4, 0.349);         /* largura e cor da borda */

  }
  .buttonPlacement{
    position:absolute;
    top:90%;
    left:15%;
  }
.SiteBanner {
position: relative;
top: -19%;
left: 0%;
width: 100%;
height: auto;
z-index: -2; /* Garante que a imagem fique atrás do texto */
}
.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}
.creepster-regular {
  font-family: "Creepster", system-ui;
  font-weight: 400;
  font-style: normal;
}
.butcherman-regular {
  font-family: "Butcherman", system-ui;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "bloodcrow";
  src: url("fonts/bloodcrow.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
.caixa {
  position: relative;
  padding: 0.2em;
  border: 7px ridge #ae1cbb;   /* primeira borda */
    color: rgb(222, 118, 15);                           /* cor do texto */
  -webkit-text-stroke: 2px rgb(73, 145, 40);         /* largura e cor da borda */

  box-sizing: border-box;
}

.caixa::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 6px dotted #0f0;   /* segunda borda */
  pointer-events: none;
  box-sizing: border-box;

  filter: 
          drop-shadow(0 0 10px#ae1cbb)
          drop-shadow(0 0 10px #ae1cbb);
  animation: ledGlow 1s infinite alternate;
}
@keyframes ledGlow{
  from {
    opacity: 0.5;
    filter:drop-shadow(0 0 10px #ae1cbb)
           drop-shadow(0 0 10px #ae1cbb);


  }
  to{
    opacity: 1;
    filter: drop-shadow(0 0 6px#ae1cbb)
            drop-shadow(0 0 10px #0f0)
            drop-shadow(0 0 10px #0f0);
  }
}

.text-border {
  border: 0.4rem solid rgb(183, 70, 228);
  border-style:groove;   /* espessura, estilo e cor */
    color: rgb(224, 134, 49);                           /* cor do texto */
  -webkit-text-stroke: 2px rgb(73, 145, 40);         /* largura e cor da borda */

  padding: 0rem;              /* espaço entre texto e borda */
  display: inline-block;     /* mantém a borda só ao redor do texto */
}
.text-border::before{
    content: "";
    position: absolute;
    border: 0.4rem solid rgb(183, 70, 228);
  border-style:dotted;   /* espessura, estilo e cor */
    color: rgb(224, 134, 49);                           /* cor do texto */
  left: 0;
  top: 0;
  padding: 0rem;
  inset: 0rem;   
  box-sizing: border-box;
  pointer-events: none;
}
@keyframes led{
  from {opacity: 0.3;}
  to {opacity: 1;}
}
.text-stroke {
  color: rgb(58, 223, 37);                           /* cor do texto */
  -webkit-text-stroke: 1px rgb(34, 71, 20);   
  top: 140%;      /* largura e cor da borda */
}
.text-strokeCoffin {
  color: rgb(105, 44, 141);                          /* cor do texto */
}

#sitelogo{
    position: absolute;
    top: -4%;
    left: 0%;
    width: 15%;
    height: auto;
    z-index: 2;
}
#lilcoffin{
    position: absolute;
    top: -12%;
    left: 2%;
    width: 33%;
    height: auto;
    z-index: 1;
}
.lilcoffinAnnouncement{
    position: absolute;
    top: 24%;
    left: 11%;
    width: 30%;
    height: auto;
    z-index: 2;
    
}

.texto{
    position: absolute;
    top: 140%;
    left: 28%;
    width: 40%;
    height: auto;
    
}
  .buttonmenu1{
    background-color:#d86506;
    color: rgb(49, 46, 46);
    padding: 12px 40px;
    border:none;
    cursor: pointer;
    clip-path: polygon(14% 0, 85% 0, 100% 100%, 0 100%);
    width: 10%;
    
  }
  .buttonmenu1:hover{
    
    background-color: #773d1d;
    
  }
  .buttonmenu1disabled{
    background-color: rgb(120, 49, 146);
    pointer-events: none;
  }
    .buttonmenu2{
    background-color:#d86506;
    color: rgb(49, 46, 46);
    padding: 12px 3px;
    border:none;
    cursor: pointer;
    clip-path: polygon(14% 0, 85% 0, 100% 100%, 0 100%);
    width: 10%;
    
  }
  .buttonmenu2:hover{
    
    background-color: #773d1d;
    
  }
      .buttonmenu3{
    background-color:#d86506;
    color: rgb(49, 46, 46);
    padding: 12px 40px;
    border:none;
    cursor: pointer;
    clip-path: polygon(14% 0, 85% 0, 100% 100%, 0 100%);
    width: 10%;
    
  }
  .buttonmenu3:hover{
    
    background-color: #773d1d;
    
  }
      .buttonmenu4{
    background-color:#d86506;
    color: rgb(49, 46, 46);
    padding: 12px 40px;
    border:none;
    cursor: pointer;
    clip-path: polygon(14% 0, 85% 0, 100% 100%, 0 100%);
    width: 10%;
    
  }
  .buttonmenu4:hover{
    
    background-color: #773d1d;
    
  }
.carousel {
      position: absolute;
      top: -17%;
      width: 100%;
      height: auto;
      overflow: hidden;
    }

    .carousel-track {
      display: flex;
      transition: transform 0.6s ease;
    }

    .carousel-slide {
      min-width: 100%;
      position: relative;
      color: rgb(216, 118, 25);
    }
    .slide2 {
      position:relative;
      top: -1.7%;
      width: 100%;
     
    }
    .slide3{
      position: relative;
      top: 20%;
      width: 100%;
      height: auto;
    }
    .carousel-slide h3 {
      
      font-size: 26px;
    }

    .carousel-slide img {
      width: 100%;
    }

    /* Conteúdo sobreposto */
    .carousel-content {
      position: absolute;
      top: 40%;
      left: 9%;
      transform: translateY(30px);
    }
    .carousel-slide3btn{
      position: absolute;
      top: 55%;
      left: 21%;

    }
.carousel-content.animar {
  animation: fadeInUp 1s ease forwards;
}

    .carousel-content button {
      position: absolute;
      top: 120%;
      left: 0%;
      background-color:#ff6600;
      padding: 15px 40px;
      font-size: 20px;
      font-weight: bold;
      font-family: 'Times New Roman', Times, serif;
      color: #e2dee4;
      border: none;
      cursor: pointer;


      /* Forma poligonal lembrando doce embalado */
    clip-path: polygon(14% 20%, 85% 14%, 100% 100%, 0% 100%);
    transition: clip-path 0.4s ease, -webkit-clip-path 0.4s ease;


    }
@keyframes fadeInUp {
  from { opacity: 0; transform: translatex(500px); }
  to   { opacity: 1; transform: translatex(0); }
}
    .carousel-content button:hover {
      clip-path:polygon(0% 0, 100% 0, 100% 100%, 0 100%);
    transform: scale(1);
    }

    /* Botões de navegação */
    .carousel-btn {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background:rgb(223, 109, 33);
      color: rgb(241, 241, 241);
      border: none;
      font-size: 2rem;
      padding: 15px;
      cursor: pointer;
      z-index: 10;
     clip-path: polygon(14% 20%, 85% 14%, 100% 100%, 0% 100%);

    }
    .carousel-btn button:hover{
      background-color: #c06113;
      clip-path: polygon(0% 0, 100% 0, 100% 100%, 0 100%);
      transform: scale(1);
      transition: all 0.4s ease;

    }

    .carousel-btn.prev { left: 10px; }
    .carousel-btn.next { right: 10px; }

.button button{
        position: absolute;
      top: 120%;
      left: 0%;
      background-color:#ff6600;
      padding: 15px 40px;
      font-size: 20px;
      font-weight: bold;
      font-family: 'Times New Roman', Times, serif;
      color: #e2dee4;
      border: none;
      cursor: pointer;


      /* Forma poligonal lembrando doce embalado */
    clip-path: polygon(14% 20%, 85% 14%, 100% 100%, 0% 100%);
    transition: clip-path 0.4s ease, -webkit-clip-path 0.4s ease;

}
@keyframes fadeInUp {
  from { opacity: 0; transform: translatex(500px); }
  to   { opacity: 1; transform: translatex(0); }
}
    .carousel-content button:hover {
      clip-path:polygon(0% 0, 100% 0, 100% 100%, 0 100%);
    transform: scale(1);
    }

